.main_section {
  max-height: calc(100vh - var(--offset-base-size) * 22);
  min-height: 540px;
  display: flex;
  flex-direction: column;
}

.selected_ingredients {
  overflow: auto;
  max-height: 464px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.selected_ingredients::-webkit-scrollbar {
  width: 8px;
}

.selected_ingredients::-webkit-scrollbar-thumb {
  border: 0px;
  border-radius: 0px;
}

.element_container {
  display: flex;
  align-items: center;
}