:root {
  --max-container-width: 1296px
}

* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  max-width: var(--max-container-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: calc(var(--offset-base-size) * 14);
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.burger-drop-active .constructor-element {}

.burger-can_drop .constructor-element {
  -webkit-animation: fadeInFromNone 1s infinite;
  -moz-animation: fadeInFromNone 1s infinite;
  -o-animation: fadeInFromNone 1s infinite;
  animation: fadeInFromNone 1s infinite;
  transition: 0.2s;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}